
.all{
  width: 100%;
  max-width: 700px;
}
.chatRep {
  display: flex;
  background-color: azure;
  flex-grow: 1;
  width: 100%;
  max-width: 700px;
  margin-top: 2%;
  margin-left: 10%;
  
  max-height: 800px;
  border-width: 1px;
  height: 500px;
  min-height: 500px;
  border-color: black;
  border-style: solid;
  color: #000;
  font-size: 1.5rem;
  align-items: flex-end;
  border-radius: 3%;
  flex-direction: column;
}
.chartSpace {
  display: flex;
  background-color: azure;
  width: 90%;
  margin-right: 5%;
  flex-grow: 200;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: #000;
  align-items: flex-end;
  border-radius: inherit;
}
.chartHeader {
  display: flex;
  width: 70%;
  left: -200px !important;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}
img {
  min-width: 100%;
  height: auto;
}
.separator {
  width: 10%;
}

.bt{
  position: relative;
  top: -30px;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 100;
  margin:  0px;
  padding: 20px 100px;
  font-size: 1rem;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.80, 0.40, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.80, 0.40, 1);
}

.btn-accep {
  background-color: #474747;
}

.btn-accep:hover {
  background-color: #727272;
}

.forB{
  margin-top: 5%;
  margin-left: 5%;
}
.razada{
  width: 20%;
  flex-grow: 1;
}